ENV=production
SLACK_BOT_ULTRON=x<SLACK BOT ID>
SLACK_CHANNEL_LIST=<CHANNEL ID>
ULTRON_BOT_ID=<ULTRON SLACK ID>
IRONMAN_USER_ID=<SLACK USER ID>
GIPHY_API_KEY=<GIPHY APP API KEY>
NEW_RELIC_APP_NAME=ULTRONEX
NEW_RELIC_LICENSE_KEY=<NEW RELIC LICENSE KEY>
HTTP_SCHEME=<http or https>
BASIC_AUTH_USERNAME=<username>
BASIC_AUTH_PASSWORD=<password>
BASIC_AUTH_REALM=<realm>